ul.nav { 
  text-align: left;
}

ul.nav li { 
  display: inline;
  font: small
}

body {
  margin: 40px;
}

.alljobs {
  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
}

.spiels {
  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
}

.job__title {
  float: right;
}
